body {
color: #777777;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 1.5em;
position: relative;
}
.default-header {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 9;
}
.sticky-header {
padding: 20px 0;
}
.banner-area {
background: url(img/banner.jpg) no-repeat center center/cover;
}
.relative {
position: relative;
}
.banner-area .overlay-bg {
background: -moz-linear-gradient(140deg, rgba(101, 150, 207, 0.7), rgba(74, 64, 184, 0.41));
background: -webkit-linear-gradient(140deg, rgba(101, 150, 207, 0.7), rgba(74, 64, 184, 0.41));
background: linear-gradient(140deg, rgba(101, 150, 207, 0.7), rgba(74, 64, 184, 0.41));
}
.overlay {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
.text-white {
color: #fff;
}
